header {
    background-image: url('../bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}
.Filter {
    background: #10171d;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Filter a {
    color: #fff;
    text-decoration: none;
}
.Filter form {
    margin-left: 20px;
}
.Filter form input {
    font-size: 20px;
    background: #222b32;
    border: 0;
    color: #fff;
    margin: 10px;
}
.Filter .text-input {
    padding: 5px;
}
.Filter .years {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Filter .rc-slider {
    margin: 0 20px;
}
.Filter svg {
    display: block;
    box-sizing: border-box;
}
.Filter .submit {
    margin-right: 20px;
}
